<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8' />
    <title>Gaia - The Final Voyage</title>

    <!-- Fav Icon -->

    <!-- CSS Files -->
    <link href='/static/css/gaia_style.css' rel='stylesheet' type='text/css' />

    <!--========================================================================
    * JavaScript Files                                                         *
    =========================================================================-->
    <!-- Base JavaScript code for the page -->
    <script type='text/javascript' src='/static/js/gaia_base.js'></script>

    <!-- Base JavaScript code for the game -->
    <script type='text/javascript' src='/static/js/gaia_util.js'></script>

    <!-- Various code for certain parts of the game -->
    <script type='text/javascript' src='/static/js/gaia_background.js'></script>
    <script type='text/javascript' src='/static/js/gaia_collision.js'></script>
    <script type='text/javascript' src='/static/js/gaia_enemies.js'></script>
    <script type='text/javascript' src='/static/js/gaia_player.js'></script>
    
    <!-- Google API Web Font -->
    <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' />
</head>
<body>
    {% block site_content %}{% endblock site_content %}

    <script type='text/javascript'>
        centralInit();
    </script>
</body>
</html>
